<%= form_for(@profile) do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Full Name" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :institution, "Institutional Affiliation" %><br />
    <%= f.text_field :institution %>
  </div>
  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :address1, "Address Line 1" %><br />
    <%= f.text_field :address1 %>
  </div>
  <div class="field">
    <%= f.label :address2, "Address Line 2" %><br />
    <%= f.text_field :address2 %>
  </div>
  <div class="field">
    <%= f.label :city, "City" %><br />
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :state, "State/Province/Region" %><br />
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label :zip, "ZIP/Postal Code" %><br />
    <%= f.text_field :zip %>
  </div>
  <div class="field">
    <%= f.label :country, "Country" %><br />
    <%= f.text_field :country %>
  </div>
  <div class="field">
    <%= f.label :letter, "Letter of Intent" %><br />
    <div class="upload">
      <% if @profile.letter? %>
        <%= link_to "View current letter of intent", @profile.letter.url, :target => "_blank", :class=> "current" %><br>
        <div class="edit">
          Upload a new letter: 
          <%= f.file_field :letter %>
        </div>
      <% else %>    
        <%= f.file_field :letter %>
      <% end %>    
    </div>
  </div>
  <div class="field">
    <%= f.label :resume, "Curriculum vitae" %><br />
    <div class="upload">
      <% if @profile.resume? %>
        <%= link_to "View current curriculum vitae", @profile.resume.url, :target => "_blank", :class=> "current" %><br>
        <div class="edit">
          Upload a new curriculum vitae: 
          <%= f.file_field :resume %>
        </div>
      <% else %>    
        <%= f.file_field :resume %>
      <% end %>
    </div>
  </div>
  <div class="field">
    <%= f.label :paper, "Paper" %><br />
    <div class="upload">
      <% if @profile.paper? %>
        <%= link_to "View current paper", @profile.paper.url, :target => "_blank", :class=> "current" %><br>
        <div class="edit">
          Upload a new paper: 
          <%= f.file_field :paper %>
        </div>
      <% else %>    
        <%= f.file_field :paper %>
      <% end %>    
    </div>
  </div>
  <div class="actions">
    <%= f.submit :class => "button" %>
  </div>
<% end %>
