<h1>Users</h1>
  
  <button id="show_IDs">Toggle User IDs</button>


<table class="admin_table">

  <tr class="header">
    <td style="display: none;" class="id">ID</td>
    <td>Email</td>
    <td>Name</td>
    <td>Created</td>
    <td>Profile</td>
    <td></td>
  </tr>

<% @users.each do |user| %>

  <tr>
    <td style="display: none;" class="id"><%= user.id %></td>
    <td><%= link_to user.email, "mailto:" + user.email  %></td>
    <td><%= user.profile.name %></td>
    <td><%= l user.created_at, :format => "%Y-%m-%d" %></td>
    <td><%= link_to "View", :controller => "profiles", :action => "show", :id => user.profile.id  %></td>
    <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>

<% end %>

</table>