<!DOCTYPE html>
<html>
<head>
  <title>Adams Competition</title>
  <%= stylesheet_link_tag    "reset" %>
  <%= stylesheet_link_tag    "animate-custom" %>
  <%= stylesheet_link_tag    "default" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "scripts" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if notice %>
	<p class="notice"><%= notice %></p>
<% end %>

<% if alert %>
	<p class="alert"><%= alert %></p>
<% end %>

<%= render :partial => "shared/top_links" %>

<div class="container box">
	<div class="top_border"></div>
		<%= yield %>
	<div class="bottom_border"></div>
</div>

<%= render :partial => "shared/bottom_links" %>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-5523146-14']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body>
</html>
